---
import Layout from '../layouts/Layout.astro';
import DashboardWrapped from '../components/DashboardWrapped.jsx';
---

<Layout title="Dashboard | Suchbot">
	<main style={{ paddingTop: '60px' }}>
		<DashboardWrapped client:load />
	</main>
</Layout>
